<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <title> ajout Patient</title>
</head>
<body>
    <div layout:fragment="content1">
        <div class="col-md-6 offset-3">
        <form method="post" th:action="@{/admin/save(page=${page},keyword=${keyword})}">

            <div>
                <label for="name">ID</label>
                <input  class="form-control" type="text" name="id" th:value="${patient.id}"  disabled>
               
            </div>

            <div>
                <label for="name">Nom</label>
                <input  class="form-control" type="text" name="name" th:value="${patient.name}">
               
            </div>
    
            <div>
                <label for="dateNissance">Date Naissance</label>
                <input  class="form-control" type="date" name="dateNissance" th:value="${patient.dateNissance}">
               
            </div>
    
            <div>
                <label for="malade">Etat santé</label>
                <input   type="checkbox" name="malade" th:checked="${patient.malade}">
               
            </div>
    
            <div>
                <label for="score">Score</label>
                <input  class="form-control" type="text" name="score" th:value="${patient.score}">
               
            </div>
    
            <button type="submit" class="btn btn-primary">Save</button>
            
            </form>
        </div>
        </div>
    
        

</body>
</html>